<div class="row" style="margin: 10px;">
    <h1>{{formLabel}}</h1>
</div>
<div class="row">
    <form class="form-horizontal" ng-submit="processForm()" name="expenseForm" novalidate>
        <div ng-class="{ 'alert alert-danger' : hasErrors }">
            <p>{{errorMessage}}</p>
        </div>

        <div class="row" ng-show="expense != null">
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : expenseForm.creationDate.$invalid && !expenseForm.creationDate.$pristine }">
                    <label class="col-md-2 control-label" for="creationDate">Creation Date</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input id="creationDate" name="creationDate" type="text" class="form-control" ng-model="formData.creationDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" ng-required="true" close-text="Close" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <p ng-show="expenseForm.creationDate.$invalid && !expenseForm.creationDate.$pristine" class="help-block">Creation Date is required.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Creation Time</label>
                    <div class="col-md-10">
                        <timepicker ng-model="formData.creationTime" show-meridian="false"></timepicker>
                    </div>
                </div>


                <div class="form-group" ng-class="{ 'has-error' : expenseForm.description.$invalid && !expenseForm.description.$pristine }">
                    <label class="col-md-2 control-label" for="description">Description</label>
                    <div class="col-md-10">
                        <input id="description" name="description" type="text" placeholder="Description" class="form-control" ng-model="formData.description" required>
                        <p ng-show="expenseForm.description.$invalid && !expenseForm.description.$pristine" class="help-block">Description is required.</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : expenseForm.amount.$invalid && !expenseForm.amount.$pristine }">
                    <label class="col-md-2 control-label">Amount</label>
                    <div class="col-md-10">
                        <number-only-input input-value="formData.amount" input-name="amount"/>
                        <p ng-show="expenseForm.amount.$invalid && !expenseForm.amount.$pristine" class="help-block">Amount is required.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="comment">Comment</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="comment" name="comment" placeholder="Please enter your comment here..." rows="5" ng-model="formData.comment"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="expenseForm.$invalid">Save Expense</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
