<div class="row">

    <div class="row" style="margin: 10px;">
        <h1>My Expenses</h1>
    </div>

    <div class="column col-md-3 col-sm-3 filter-col">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="expenseFilterDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" ng-required="true" close-text="Close" />
             <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
             </span>
        </div>
    </div>

    <div class="column col-md-3 col-sm-3 filter-col">
        <input type="text" class="form-control" ng-model="expenseFilterDescription"/>
    </div>

    <div class="column col-md-3 col-sm-3 filter-col">
        <input type="text" class="form-control" ng-model="expenseFilterAmount"/>
    </div>
</div>


<div class="gridStyle" ng-grid="gridOptions"/>