<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><strong>Sign in</strong></h3></div>
        <div class="panel-body">
            <div ng-class="{ 'alert alert-danger' : hasErrors }">
                <p>{{errorMessage}}</p>
            </div>
            <form ng-submit="processForm()" name="loginForm" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : loginForm.login.$invalid && missingFields }">
                    <label for="login">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Enter username" ng-model="formData.login" autofocus required>
                    <p ng-show="loginForm.login.$invalid && missingFields" class="help-block">Please enter username.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && missingFields }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="formData.password" required>
                    <p ng-show="loginForm.password.$invalid && missingFields" class="help-block">Password can't be empty.</p>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
            </form>
        </div>
    </div>
</div>