<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><strong>Register New User</strong></h3></div>
        <div class="panel-body">
            <div ng-class="{ 'alert alert-danger' : hasErrors }">
                <p>{{errorMessage}}</p>
            </div>
            <form ng-submit="processForm()" name="registerForm" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : registerForm.login.$invalid && !registerForm.login.$pristine }">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Enter login" ng-model="formData.login" autofocus required>
                    <p ng-show="registerForm.login.$invalid && !registerForm.login.$pristine" class="help-block">Please enter login.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registerForm.name.$invalid && !registerForm.name.$pristine }">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" ng-model="formData.name" autofocus required>
                    <p ng-show="registerForm.login.$invalid && !registerForm.login.$pristine" class="help-block">Please enter you Name.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="formData.password" required>
                    <p ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="help-block">Password can't be empty.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registerForm.passwordConfirmation.$invalid && !registerForm.passwordConfirmation.$pristine }">
                    <label for="passwordConfirmation">Confirm Password</label>
                    <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" placeholder="Password again" ng-model="formData.passwordConfirmation" required>
                    <p ng-show="registerForm.passwordConfirmation.$invalid && !registerForm.passwordConfirmation.$pristine" class="help-block">Password confirmation can't be empty.</p>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-disabled="registerForm.$invalid">Register</button>
            </form>
        </div>
    </div>
</div>