<div class="row">

    <div class="row" style="margin: 10px; margin-bottom: 25px;">
        <h1>Report for <small style="font-size: 28px"><b>{{startDate | date:'yyyy-MM-dd'}} - {{endDate | date:'yyyy-MM-dd'}}</b></small></h1>
    </div>

    <div class="col-md-3 hidden-print">
        <week-picker start-date="startDate" end-date="endDate"></week-picker>
    </div>
    <div class="col-md-9">
        <!--<div class="gridStyle" ng-grid="gridOptions"/>-->

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-md-4">Date Created</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-4">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="expense in report.expenses">
                    <td>{{expense.creationDate}}</td>
                    <td>{{expense.description}}</td>
                    <td>{{expense.amount}}</td>
                </tr>
            </tbody>
        </table>

        <div class="col-md-6 list-group-item form-inline">
            <label class="control-label">Average Day Spending: {{report.average}}</label>
        </div>
        <div class="col-md-6 list-group-item form-inline">
            <label class="control-label">Total:   {{report.total}}</label>
        </div>
    </div>

</div>